<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shifted Cypher</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Shifted Cypher (<a href="https://github.com/CantCode023/Shifted" target="_blank">Source Code</a>)</h1>
    <p>Encode</p>
    <textarea placeholder="Message here" class="message" id="message"></textarea>
    <br>
    <button class="enc" id="enc">Encode</button>
    <br><br>
    <p>Decode</p>
    <textarea placeholder="Message here" class="messaged" id="messaged"></textarea>
    <br>
    <button class="dec" id="dec">Decode</button>
    <br>
    <a class="issue" href="mailto:cantcode023@gmail.com">Report issues here.</a>

    <script src='js/script.js'></script>
</body>
</html>